<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/ajax.js')}}"></script>
    <script src="{{url_for('static', filename='js/ajax2.js')}}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>blackTiles Shopping Website</title>
    <style>
      body{
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
      }
    </style>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->

    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-header" href="/products">blackTiles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
          <i class="fas fa-bars" style="color:white; font-size:30px;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="profileOn">
                <a class="nav-link text-light"><i class="fas fa-user"></i><span id="_user_id">{{session_user_data[1]}}</span></a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sitemap"></i> Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-secondary" href="#new">New Arrivals</a>
                <a class="dropdown-item text-secondary" href="#men">Men's Collection</a>
                <a class="dropdown-item text-secondary" href="#women">Women's Collection</a>
                <a class="dropdown-item text-secondary" href="#kid">Kid's Colllection</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/orders/{{session_user_data[0]}}"><i class="fas fa-user"></i>Orders</a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/cart/{{session_user_data[0]}}"><i class="fas fa-cart-plus"></i> Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/logout/{{session_user_data[0]}}"><i class="fas fa-sign-in-alt"></i> 
                  Logout
                </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- user profile -->
      <div class="user-profile" id="userProfile">
        <div class="profile-head">
          <h2 class="text-center">Your Profile</h2>
        </div>
        <div class="profile-image">
          <img src="{{url_for('static', filename='images/dog.jpg')}}" alt="">
        </div>
        <form id="formProfile">
          <label for="profile_user">Username</label>
          <input type="text" value="{{session_user_data[1]}}" id="p_username"/><br>
          <label for="profile_email">Email</label>
          <input type="email" value="{{session_user_data[3]}}" id="p_email"/><br><br>
          <p id="errorAlert" class="text-danger"></p>
          <p id="successAlert" class="text-success"></p>
          <button class="btn btn-success" type="submit" id="update_profile">Update</button><br><br>
          <button class="btn btn-danger" type="button" id="closeProfile">Close</button>
        </form>
      </div>
      <!-- end of user profile -->
      <!-- navbar end -->
      <!-- start carousel -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ url_for('static', filename='images/slide1.png') }}" alt="First slide" >
            <div class="carousel-caption">
              <h1>WELCOME TO THE BLACK TILES E-COMMERCE</h1>
              <p>Fashion is what you're offered four times a year by designers. And style is what you choose</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ url_for('static', filename='images/slide2.jpg') }}" alt="Second slide" >
            <div class="carousel-caption">
              <h1>THE BEST OF THE BEST IS HERE</h1>
              <p>Don't be into trends. Don't make fashion own you, but you decide what you are, what you want to express by the way you dress and the way to live.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ url_for('static', filename='images/slide3.jpg') }}" alt="Third slide" >
            <div class="carousel-caption">
              <h1>GRAB ANYTHING OF YOUR CHOICE</h1>
              <p>Fashion is very important. It is life-enhancing and, like everything that gives pleasure, it is worth doing well</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end carousel  -->
      <!-- search bar -->
      <!-- end of search bar -->
      <div class="products">
        <div class="new-arrivals" id="new">
          <h1>New Arrivals</h1>
          <div class="products-list">
            {% for z in session_user_data[2] %}
              {% if z[2]=='new' %}
                <div class="products-card">
                    <img src="data:image/png;charset=utf-8;base64,{{z[1]}}"/>
                  <div class="description">{{z[3]}}</div>
                  <div class="card-bottom">
                    <span>&#8377;{{z[4]}}</span>
                    <a class="addToCart" productId="{{z[0]}}" id="a{{z[0]}}">Add to Cart</a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="mens-wear new-arrivals" id="men">
          <h1>Men's Collection</h1>
          <div class="products-list">
            {% for z in session_user_data[2] %}
              {% if z[2]=='men' %}
                <div class="products-card">
                    <img src="data:image/png;charset=utf-8;base64,{{z[1]}}"/>
                  <div class="description">{{z[3]}}</div>
                  <div class="card-bottom">
                    <span>&#8377;{{z[4]}}</span>
                    <a class="addToCart" productId="{{z[0]}}" id="a{{z[0]}}">Add to Cart</a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="womens-wear new-arrivals" id="women">
          <h1>Women's Wear</h1>
          <div class="products-list">
            {% for z in session_user_data[2] %}
              {% if z[2]=='women' %}
                <div class="products-card">
                    <img src="data:image/png;charset=utf-8;base64,{{z[1]}}"/>
                  <div class="description">{{z[3]}}</div>
                  <div class="card-bottom">
                    <span>&#8377;{{z[4]}}</span>
                    <a class="addToCart" productId="{{z[0]}}" id="a{{z[0]}}">Add to Cart</a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="kids new-arrivals" id="kid">
          <h1>Kids Section</h1>
          <div class="products-list">
            {% for z in session_user_data[2] %}
              {% if z[2]=='kids' %}
                <div class="products-card">
                    <img src="data:image/png;charset=utf-8;base64,{{z[1]}}"/>
                  <div class="description">{{z[3]}}</div>
                  <div class="card-bottom">
                    <span>&#8377;{{z[4]}}</span>
                    <a class="addToCart" productId="{{z[0]}}" id="a{{z[0]}}">Add to Cart</a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->
    
    <script src="{{url_for('static', filename='js/script2.js')}}"></script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>